<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/sidebarStyle.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Business Management</title>
</head>

<body>
    <div id="sidebar-container">
        <div class="sidebar">
            <div class="logo">
                <i class="fa-solid fa-bars"></i>
                <span>TRENDLOGICORP</span>
            </div>

            <ul class="sidebar-nav">
                <li class="nav-item">
                    <a href="../index.html">
                        <i class="fa-solid fa-gauge"></i>
                        <span>Dashboard</span></a>
                </li>
                <li class="nav-item">
                    <a href="../layout/oder.html">
                        <i class="fa-brands fa-first-order"></i>
                        <span>Order Management</span></a>
                </li>
                <li class="nav-item">
                    <a href="../layout/shipOrder.html">
                        <i class="fa-solid fa-house-chimney-crack"></i>
                        <span>Ship the Order</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="">
                        <i class="fa-solid fa-truck-fast"></i>
                        <span> Shipping Price Management</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../layout/payment.html">
                        <i class="fa-solid fa-dollar-sign"></i>
                        <span>Payments</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../layout/business.html">
                        <i class="fa-solid fa-briefcase"></i>
                        <span>Business Management</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../layout/customer.html">
                        <i class="fa-solid fa-user-secret"></i>
                        <span>Customers</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../layout/message.html">
                        <i class="fa-solid fa-message"></i>
                        <span>Messages</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../layout/user.html">
                        <i class="fa-solid fa-user"></i>
                        <span> User Management</span>
                    </a>
                </li>
            </ul>

            <div class="user">
                <i class="fa-regular fa-user"></i>
                <span>Trong Anh</span>
            </div>
        </div>

    </div>
    <div id="main">
        <div class="title">
            <div class="title-text">
                <h2>Business Management</h2>
            </div>
            <a href="../layout/addBusiness.html">
                <div class="title-button">
                    <button class="button2">Add New Business</button>
                </div>
            </a>
        </div>

        <div class="content">
            <div class="content-input">
                <div class="input-search">
                    <input type="text" id="searchInput" placeholder="Search orders by User ID, User name"
                        onkeyup="filterTable()">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="input-button">
                    <div class="button-filter">
                        <button><i class="fa-solid fa-filter"></i>Filter</button>
                    </div>
                    <div class="button-column">
                        <button><i class="fa-solid fa-table-columns"></i>Column</button>
                    </div>
                    <div class="button-export">
                        <button><i class="fa-solid fa-download"></i>Export</button>
                    </div>
                </div>
            </div>
            <div class="content-table">
                <table>
                    <tr>
                        <th><input type="checkbox" id="checkAll"></th>
                        <th>ID</th>
                        <th>Business Name</th>
                        <th>Business Address</th>
                        <th>Business Email</th>
                        <th>Business Phone Number</th>
                        <th>Selling Website</th>
                        <th>Order Per Month</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkItem"></td>
                        <td>1</td>
                        <td>Luxe Apparel Inc.</td>
                        <td>123 Madison Ave, NY, NY 10016</td>
                        <td>contact@luxeapparel.com</td>
                        <td>+1 (212) 555-0198</td>
                        <td>www.luxeapparel.com</td>
                        <td>120</td>
                        <td class="status-business"><span>Active</span></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkItem"></td>
                        <td>2</td>
                        <td>Golden Threads Ltd</td>
                        <td> 45 Elm St, Los Angeles, CA 90001</td>
                        <td>contact@luxeapparel.com</td>
                        <td>+1 (212) 555-0198</td>
                        <td>www.luxeapparel.com</td>
                        <td>85</td>
                        <td class="status-business"><span>Active</span></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkItem"></td>
                        <td>3</td>
                        <td>Luxe Apparel Inc.</td>
                        <td>123 Madison Ave, NY, NY 10016</td>
                        <td>contact@luxeapparel.com</td>
                        <td>+1 (212) 555-0198</td>
                        <td>www.luxeapparel.com</td>
                        <td>150</td>
                        <td class="status-business"><span>Active</span></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkItem"></td>
                        <td>4</td>
                        <td>Luxe Apparel Inc.</td>
                        <td>123 Madison Ave, NY, NY 10016</td>
                        <td>contact@luxeapparel.com</td>
                        <td>+1 (212) 555-0198</td>
                        <td>www.luxeapparel.com</td>
                        <td>60</td>
                        <td class="status-business"><span>Inactive</span></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkItem"></td>
                        <td>5</td>
                        <td>Luxe Apparel Inc.</td>
                        <td>123 Madison Ave, NY, NY 10016</td>
                        <td>contact@luxeapparel.com</td>
                        <td>+1 (212) 555-0198</td>
                        <td>www.luxeapparel.com</td>
                        <td>44</td>
                        <td class="status-business"><span>Active</span></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkItem"></td>
                        <td>5</td>
                        <td>Luxe Apparel Inc.</td>
                        <td>123 Madison Ave, NY, NY 10016</td>
                        <td>contact@luxeapparel.com</td>
                        <td>+1 (212) 555-0198</td>
                        <td>www.luxeapparel.com</td>
                        <td>65</td>
                        <td class="status-business"><span>Active</span></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkItem"></td>
                        <td>6</td>
                        <td>Luxe Apparel Inc.</td>
                        <td>123 Madison Ave, NY, NY 10016</td>
                        <td>contact@luxeapparel.com</td>
                        <td>+1 (212) 555-0198</td>
                        <td>www.luxeapparel.com</td>
                        <td>100</td>
                        <td class="status-business"><span>Active</span></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkItem"></td>
                        <td>7</td>
                        <td>Luxe Apparel Inc.</td>
                        <td>123 Madison Ave, NY, NY 10016</td>
                        <td>contact@luxeapparel.com</td>
                        <td>+1 (212) 555-0198</td>
                        <td>www.luxeapparel.com</td>
                        <td>120</td>
                        <td class="status-business"><span>Inactive</span></td>
                    </tr>
                </table>
            </div>
            <div class="content-footer">
                <div class="footer-text">
                    <p>Total 35 item</p>
                </div>
                <div class="footer-button">
                    <button class="footer-button-1">10 / page <i class="fa-solid fa-chevron-down"></i></button>
                    <button class="footer-button-2"><i class="fa-solid fa-angle-left"></i></button>
                    <button class="footer-button-3">1</button>
                    <span>of 4</span>
                    <button class="footer-button-4"><i class="fa-solid fa-angle-right"></i></button>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/js/app.js"></script>
</body>

</html>